table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    font-style: bold;
    background-color: palevioletred;
}
td, th {
    border: 1px saddlebrown;
    text-align: left;
    padding: 8px;
}
tr:nth-child(odd) {
    background-color: palevioletred;
}
.container{
    width:100%;
    height:50px;
    background-color: palevioletred;
}
h1{
    text-align: center;
}
.GroBtn{
    margin-left: 300px;
}
.containerBtn{
    margin-left:60px;
}
table{
    background-color: palevioletred;
}
.navbar{
    width: 100%;
    height: 50px;
    background-color: lightskyblue;
}
.nav{
    height: 50px;
    margin-left: 100px;
}
.navbtn3 {
    margin-right:300px;
    margin-top:13px;
    float: right;
    font-size:25px;
    color: lightskyblue;
}
.navbtn2 {
    margin-right: 100px;
    margin-top:13px;
    float:right;
    font-size:25px;
    color: lightskyblue;
}
